@font-face {
  font-family: 'muller';
  src: local('muller'), local('muller-light'), url('../fonts/MullerRegular.woff2') format('woff2'), url('../fonts/MullerLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f1f1f1;
  min-width: 1200px;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  padding-top: 30px;
}

.container {
  width: 1920px;
  margin: 0 auto;
  text-decoration: none;
  background-color: #cfd8ce;
  font-family: muller, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  color: #000000;
}

.column {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  min-width: 472px;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.column-rect {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  margin-right: 10px;
  min-width: 472px;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 21px;
  color: #000000;
}

.add-column-rect {
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0;
  min-width: 472px;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.error-text {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 16px;
  color: #e20808;
}

/*  -----------------------------------------------*/

.header-rect {
  margin: 0 0 30px 0;
  max-height: 100px;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.header-rect-left {
  margin: 0;
  padding: 0;
  align-items: center;
}

.header-rect-right {
  margin: 0;
  padding: 0;
  align-items: center;
}

.header-logo {
  margin-right: 40px;
}

.contacts-item-link {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.account-item {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  padding-left: 28px;
  background: url('../img/Vector.png') no-repeat;
  background-position: left center;
  background-size: contain;
  background-size: 21px 12px;
}

.header-nav {
  margin-bottom: 70px;
  min-height: 70px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 15px;
}

.header-list-left {
  margin: 0;
  min-width: 743px;
  align-items: center;
  justify-content: space-around;
}

.header-list-right {
  margin: 0;
  padding: 0;
  min-width: 426px;
  align-items: center;
  justify-content: space-around;
  border-left: 1px solid #E1E1E1;
}

.header-list-item {
  display: inline;
  padding: 5px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  max-width: 125px;
  word-wrap: break-word;
}

.btn {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color:#CC9933;
  border: 1px solid #CC9933;
  padding: 13px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  max-width: 200px;
  word-wrap: break-word;
}

.special-content-left-rect {
  margin: 0 23px 0 0;
  padding: 0;
  max-width: 573px;
  min-height: 275px;
  flex-direction: column;
  justify-content: flex-start;
}


.special-content {
  margin: 0 0 70px 0;
  padding: 0;
  max-width: 1169px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.section-title {
  padding: 0 0 20px 40px;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color:#333333;
}

.special-content-rect {
  margin: 0 0 23px 0;
  padding: 40px;
  width: 573px;
  min-height: 258px;
  flex-direction: column;
}

.maldiv {
  background: url('../img/maldiv.png') no-repeat;
  background-size: cover;
}

.luxe {
  margin-right: 0;
  background: url('../img/luxe.png') no-repeat;
  background-size: cover;
}

.krit {
  background: url('../img/krit.png') no-repeat;
  background-size: cover;
}

.special-content-descr {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color:#ffffff;
  max-width: 500px;
  word-wrap: break-word;
}

.special-content-rect-style {
  min-height: 171px;
}

.descr-luxe {
  font-size: 60px;
  line-height: 60px;
}

.special-content-cost {
  margin: 0;
  padding: 15px 0 0 0;
  max-width: 299px;
  font-style: normal;
  color:#ffffff;
  max-width: 500px;
  word-wrap: break-word;
}

.cost-luxe {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  opacity: 80%;
}

.cost-normal {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  opacity: 80%;
}

.content-link {
  font-style: normal;
}

.special-link {
  margin: 0;
  padding: 47px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #FFCC66;
  background: url('../img/Rectangle2.png') no-repeat right bottom;
  min-width: 6.5em;
  max-width: max-content;
  word-wrap: break-word;
}

.service-link {
  padding: 0 15px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #CC9933;
  background: url('../img/Rectangle2-1.png') no-repeat right center;
  width: max-content;
  max-width: 470px;
  word-wrap: break-word;
}

.about-us-rect {
  margin: 0 0 70px 0;
  padding: 0;
  max-width: 888px;
}

.about-us {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  color:#000000;
}

.service {
  padding: 0;
  margin-bottom: 70px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.service-item-rect {
  margin: 0;
  padding: 191px 0 48px 45px;
  min-width: 573px;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 15px;
}

.service-card {
  background: url('../img/service.png') no-repeat;
  background-color: #ffffff;
}

.banket-hole-card {
  background: url('../img/banket-hole.png') no-repeat;
  background-color: #ffffff;
}

.sauna-card {
  background: url('../img/sauna.png') no-repeat;
  background-color: #ffffff;
}

.parking-card {
  background: url('../img/parking.png') no-repeat;
  background-color: #ffffff;
}

.service-item-rect:not(:nth-child(2n)) {
  margin: 0 23px 23px 0;
}

.service-item-rect:nth-child(2n) {
  margin: 0 0 23px 0;
}

.service-item-content {
  padding: 26px 45px;
  flex-direction: column;
  background-color: #ffffff;
}

.service-item-descr {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  color:#000000;
  max-width: 402px;
}

.advantages {
  padding: 0;
  margin: 0 0 70px 0;
  max-width: 1169px;
  min-height: 173px;
  flex-wrap: wrap;
}

.advantages-item-rect {
  padding: 0;
  margin: 0;
  width: 275px;
  min-height: 275px;
  border-radius: 15px;
}

.advantages-item-rect:not(:nth-child(4n)) {
  margin: 0 23px 23px 0;
}

.advantages-item-rect:nth-child(4n) {
  margin: 0 0 23px 0;
}

.advantages-item {
  margin: 0;
  padding: 0;
}

.advantages-item-descr {
  margin: 0;
  padding: 116px 40px 40px 40px ;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  color:#000000;
  word-wrap: break-word;
}

.bathtub {
  background: url('../img/bathtub.png') no-repeat 17% 17%;
  background-color:#ffffff;
}

.hanger {
  background: url('../img/hanger.png') no-repeat 17% 17%;
  background-color:#ffffff;
}

.heating {
  background: url('../img/heating.png') no-repeat 17% 17%;
  background-color:#ffffff;
}

.hotel-key {
  background: url('../img/hotel-key.png') no-repeat 17% 17%;
  background-color:#ffffff;
}

.parking {
  background: url('../img/parking1.png') no-repeat 17% 17%;
  background-color:#ffffff;
}

.reception {
  background: url('../img/reception.png') no-repeat 17% 17%;
  background-color:#ffffff;
}

.security-box {
  background: url('../img/security-box.png') no-repeat 17% 17%;
  background-color:#ffffff;
}

.swimming-pool {
  background: url('../img/swimming-pool.png') no-repeat 17% 17%;
  background-color:#ffffff;
}

.room {
  min-height: 200px;
  flex-wrap: wrap;
}

.room-items {
  margin: 0;
  padding: 0;
  min-width: 374px;
  min-height: 70px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.room-items-descr {
  min-height: 70px;
  margin: 0;
  padding: 36px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 15px;
  max-width: 374px;
}

.room-items-cost {
  margin: 0 0 5px 0;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 354px;
  word-wrap: break-word;
}

.room-items-place {
  margin: 0;
  padding: 0;
}

.room-items-link {
  margin: 0;
  padding: 0;
}

.room-items:not(:nth-child(3n)) {
  margin: 0 23px 23px 0;
}

.room-items:nth-child(3n) {
  margin: 0 0 23px 0;
}

.cost-text {
  margin: 0 4px 16px 0;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color:#000000;
  max-width: 374px;
}

.cost-text-style {
  color: #999999;
}

.cost-text-price {
  margin: 0 4px 16px 0;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color:#000000;
  }

.raiting {
  margin: 0 6px 0 0;
  width: min-content;
  height: min-content;
}

.room-items-cost-string {
  margin-right: 43px;
}

.room-items-all-variants-rect {
  min-width: 374px;
  min-height: 373px;
}

.room-items-all-variants {
  background: url('../img/9.png') no-repeat;
  min-width: 373px;
  min-height: 440px;
  background-size: cover;
}

.all-variants-link {
  margin: 0 auto;
  padding: 0 15px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
  background: url('../img/Rectangle-2-white.png') no-repeat right;
  width: max-content;
  max-width: 353px;
  word-wrap: break-word;
}
